<p style="color: green"><%= notice %></p>
<h3><%= @podcast.title %></h3>
<%= link_to "Edit", edit_podcast_path(@podcast) %>
<%= button_to "Delete", @podcast, method: :delete %>
<%= link_to "Back to podcasts", podcasts_path %>